p#notice =notice

h1 style="text-shadow: rgba(0,0,0,0.7) 1px 1px 2px;" Услуги

#effect.effects.clearfix
  - @services.each do |service|
    .col-xs-12.col-sm-6.col-md-6
      .box style="background-image: url(#{service.pic.image.url if service.pic.present?});"
        .overlay
          .desc
            a href=service_path(service)
              h3 
                = service.name
            p  
              = service.description
            span  
              = number_to_currency(service.price, locale: :uk)
            / a.close-overlay.hidden X
            .overlay-close.icon-close.hidden
              dic.stripes 
