p#notice= notice
.text
	h1 = @service.name
	
	= image_tag @service.pic.image.url if @service.pic
	br
	br
	p.desc
	  = @service.description

	p
	  = statick_markdown @service.body if !@service.body.nil?
	p
	  strong Цена:  
	  = number_to_currency(@service.price, locale: :uk)

	= link_to 'Назад', services_path

	- @content = @service.id==2 ? Lines::Article.find('fotografii-podobovets') : nil
	- if @content && @content.pictures.any?
		div class="breaker" style="clear:both;height:1px;line-height:1px" &nbsp;
		div.fotorama data-width="100%" data-ratio="960/640" data-minwidth="400" data-maxwidth="960" data-minheight="267" data-nav="thumbs" data-loop="true" data-keyboard="true" data-arrows="true" data-click="true" data-swipe="true" data-thumbwidth="150" data-thumbheight="100"
			- @content.pictures.each do |pic|
				a href="#{pic.image_url}"
					- if pic.image.version_exists?(:small)
						img src="#{pic.image_url(:small)}" width="150" height="100"
					- else 
						img src="#{pic.image_url(:preview)}" width="150" height="100"
