#description
	.text
		h1 =@content.title

		= statick_markdown @content.content
- if @content.pictures.any?
	div.fotorama data-width="100%" data-ratio="960/640" data-minwidth="400" data-maxwidth="960" data-minheight="267" data-nav="thumbs" data-loop="true" data-keyboard="true" data-arrows="true" data-click="true" data-swipe="true" data-thumbwidth="150" data-thumbheight="100"
		- @content.pictures.each do |pic|
			/ img src="#{pic.image_url}">
			a href="#{pic.image_url}"
				- if pic.image.version_exists?(:small)
					img src="#{pic.image_url(:small)}" width="150" height="100"
				- else 
					img src="#{pic.image_url(:preview)}" width="150" height="100"

#coaches
	.text
		h1 Наши тренеры

		h2 =@coach1.title
		div class="breaker" style="clear:both;height:1px;line-height:1px" &nbsp;
		div
			p
				- unless @coach1.image_url.blank?
					img src="#{@coach1.image_url}" alt="#{@coach1.title}"
				= statick_markdown @coach1.content
		div class="breaker" style="clear:both;height:1px;line-height:1px" &nbsp;
		br
		- if @coach1.pictures.any?
			div.fotorama data-width="100%" data-ratio="960/640" data-minwidth="400" data-maxwidth="960" data-minheight="267" data-nav="thumbs" data-loop="true" data-keyboard="true" data-arrows="true" data-click="true" data-swipe="true" data-thumbwidth="150" data-thumbheight="100"
				- @coach1.pictures.each do |pic|
					/ img src="#{pic.image_url}">
					a href="#{pic.image_url}"
						- if pic.image.version_exists?(:small)
							img src="#{pic.image_url(:small)}" width="150" height="100"
						- else 
							img src="#{pic.image_url(:preview)}" width="150" height="100"
					
    .text
		h2 =@coach2.title
		div class="breaker" style="clear:both;height:1px;line-height:1px" &nbsp;
		div
			p
				- unless @coach2.image_url.blank?
					img src="#{@coach2.image_url}" alt="#{@coach2.title}"
				= statick_markdown @coach2.content
		div class="breaker" style="clear:both;height:1px;line-height:1px" &nbsp;
		br
		- if @coach2.pictures.any?
			div.fotorama data-width="100%" data-ratio="960/640" data-minwidth="400" data-maxwidth="960" data-minheight="267" data-nav="thumbs" data-loop="true" data-keyboard="true" data-arrows="true" data-click="true" data-swipe="true" data-thumbwidth="150" data-thumbheight="100"
				- @coach2.pictures.each do |pic|
					/ img src="#{pic.image_url}">
					a href="#{pic.image_url}"
						- if pic.image.version_exists?(:small)
							img src="#{pic.image_url(:small)}" width="150" height="100"
						- else 
							img src="#{pic.image_url(:preview)}" width="150" height="100"
		/ div data-thumb="#{pic.image_url(:small)}" data-thumbratio="150/100" data-img="#{pic.image_url}"
			
		/ h1 testing

		/ div id="image"
		/ 	img src="#{@content.pictures.first.image_url}" border="0"
    
		/ .thumbs
		/   ul
		/   	- @content.pictures.each do |pic|
		/   		/ - pic.image_url(:preview)
		/   		li
		/   			a.image href="#" rel="#{pic.image_url}"
		/   				img.thumb alt="Подобовец" src= "#{pic.image_url(:small)}"

		/ -@content.pictures.each do { |pic|
		/ 	pic.image_url(:preview)
		/ 	"<a class=\"#{content}\" href=\"#\" rel=\"#{link}\"><img src=\"#{preview}\" class: \"#{content}\" alt=\"#{alttext}\" /></a>"

		/ div
		/ h1 Спортлагерь в Карпатах, 1–8 апреля 2017
		/ h3 Что мы будем делать?

		/ p 1. У нас будет две тренировки в день: утром и ближе к вечеру. Это функциональные тренировки с различным оборудованием, TRX, растяжка, миофасциальное расслабление. Занятия будут проходить на улице или в зале, в зависимости от погоды за бортом, с музыкой или пением, чтобы не было слышно стонов. 
		/ p 2. Рано утром беговые тренировки. Бегать смогут как подготовленные, так и новички. Для новичков специальные беговые упражнения и небольшие дистанции. Подготовленным – трейловая обувь и дистанция по силам. 
		/ p 3. По вечерам семинары и лекции на тему физиологии и диетологии. Вы сможете узнать что вам можно делать, а с чем стоит повременить, как работает ваше тело, расширить его возможности, поспорить, поделиться знаниями.
		/ p 4. Допбонусы. Мастер-класс по приготовлению панира и диетического печенья. Вводная по спортивным гаджетами и програмному обеспечению. Вечерний костер с шашлыком как для мясоедов, так и для вегетарианцев. Поход на водопад Шипот. Кошкотерапия :)
		/ h3 Где?
		/ p Выездной лагерь планируется в Карпатах, в очень красивом месте среди гор. Магазинов нет. Расселение в комфортных номера с санузлом. Несколько номеров с двуспальными кроватями, несколько с двумя односпальными и один трехместный. Есть фен, эко-моющие для лица и тела, полотенца (не надо везти), парковка, услуги прачечной, бесплатный wi-fi.
		/ h3 Питание
		/ p Поскольку это, в первую очередь, отдых от привычного образа жизни, готовить не придется. 
		/ p Однако, два цербера все равно будут смотреть в вашу тарелку. В программу тура входит завтрак и ужин. Возможен вариант детокс-меню. Так же можно будет попробовать спортпит и оценить, подходит ли он вам.
		/ h3 Трансфер
		/ p До станции вы добираетесь удобным вас способом: поезд, машина, бла-бла-кар. От станции до конечной точки трансфер наш.
		/ h3 И немного отдыха 
		/ p В этом чудо-месте есть баня, массаж (общий, рук, ног, воротниковой зоны), маникюр/педикюр, парафинотерапия, улитки, рыбкикоторыекушаютноги, возможность покататься на лошадях, настольные игры. В день отдыха будет экскурсия в Мукачевкий замок, на страусиную ферму и термальные воды. И еще там прекрасные люди!
		/ h3 Что надо взять с собой?
		/ p Себя; своего друга; желательно три комплекта спортивной одежды (в горах все сохнет не так шустро, как хотелось бы) с рукавом и длинной штаниной как минимум два из них; две пары спортивной обуви; ветровка/дождевик; головной убор; тонкие перчатки (для бега по утрам); тапочки/пижама на ваше усмотрение, но мы бы взяли :) Лекарства, которые нужны лично вам. Общая аптечка будет, но она не безразмерна. 
		/ h3 Итого:
		/ p 8 дней, 12 тренировок, 5 лекций, комфортабельное проживание, завтраки и ужины, трансфер до отеля и обратно = 7700 гривен.
		/ p 
		/ 	= link_to('Все вопросы можно задать почтой или на странице в фейсбуке.', root_path(:anchor => 'contacts'), class: "show-contancts")
/ Testing gallary
/ - imageurl = [	"/assets/podobovets-01.jpg",
/ 				"/assets/podobovets-02.jpg",
/ 				"/assets/podobovets-03.jpg",
/ 				"/assets/podobovets-04.jpg",
/ 				"/assets/podobovets-05.jpg",
/ 				"/assets/podobovets-06.jpg",
/ 				"/assets/podobovets-07.jpg",
/ 				"/assets/podobovets-08.jpg",
/ 				"/assets/podobovets-09.jpg",
/ 				"/assets/podobovets-10.jpg",
/ 				"/assets/podobovets-11.jpg",
/ 				"/assets/podobovets-12.jpg",
/ 				"/assets/podobovets-13.jpg",
/ 				"/assets/podobovets-14.jpg",
/ 				"/assets/podobovets-15.jpg",
/ 				"/assets/podobovets-16.jpg",
/ 				"/assets/podobovets-17.jpg",
/ 				"/assets/podobovets-18.jpg"]
/ div id="image"
/ 	img src="/assets/podobovets-01.jpg" border="0"
    
/ .thumbs
/   ul
/   	- imageurl.each do |iurl|
/   		li
/   			a.image href="#" rel="#{iurl}"
/   				img.thumb alt="Подобовец" src= "#{iurl}"
