<div class="article <%= article_class %>">
<% cache "#{article_small}_small" do %>
  <% unless article_small.image_url.blank? %>
    <div class="hero_image">
      <%= link_to article_path(article_small) do %>
        <img src="<%= article_small.image_url %>" alt="<%= article_small.title %>" />
      <% end %>
    </div>
  <% end %>

  <div class="article_header">
    <h1><%= link_to article_small.title, article_path(article_small) %></h1>
    <h2><%= article_small.sub_title %></h2>
    <div class="author_name"><span>by</span> <%= display_article_authors(article_small) %></div>
  </div>

  <div class="article_teaser">
    <%= render_teaser(article_small).html_safe %>
    <div class="more-link">
      <%= link_to "Перейти к статье", article_path(article_small) %>
    </div>
  </div>
<% end %>
</div>