<div class="article first">

<% cache article do %>

  <% unless article.image_url.blank? %>
    <div class="hero_image">
      <%= link_to article_path(article) do %>
        <img src="<%= article.image_url %>" alt="<%= article.title %>" />
      <% end %>
    </div>
  <% end %>

  <div class="article_header">
    <h1><%= link_to article.title, article_path(article) %></h1>
    <h2><%= article.sub_title %></h2>
    <div class="author_name"><span>by</span> <%= display_article_authors(article) %></div>
  </div>

  <div class="article_teaser">
    <%= render_teaser(article, article_counter) %>
  </div>

  <div class="article_content">
    <%= markdown article.content %>
    <% if article.document? %>
    <div class="article_document">
      <%= link_to "Download #{article.document.file.filename}", article.document_url %>
    </div>
    <% end %>
  </div>

  <% unless article.gplus_url.blank? %>
    <div class="article_facebook">
      <a href="<%= article.gplus_url %>">Обсудить статью в Facebook</a>
    </div>
  <% end %>
  
  <hr>

  <div class="article_footer">
    Written on <span class="published_at"><%= article.published_at.to_date %></span> by <%= display_article_authors(article, true) %>
  </div>
  
<% end %>
</div>