<div class="rss">
    <%= link_to image_tag("ic_rss.png"), articles_url(format: "atom") %>
</div>

<div id="articles">
  <% if !@first_article.nil? && @first_article.featured? %>
  	<% aclass = "first" %>
  <% else %>
  	<% aclass = "small" %>
  	<% @offset = "1" %>
  <% end %>
  <%= render partial: 'lines/articles/article_small', locals: { article_small: @first_article, article_class: aclass, article_counter: -1 } unless @first_article.nil? %>
  <%= render partial: 'lines/articles/article_collection', collection: @articles, offset: @offset %>
</div>

<% if @articles.total_pages > 1 %>
<hr>
<div id="pagination">
  <%= paginate @articles, outer_window: 1, window: 2, theme: 'lines' %>
</div>
<% end %>