<%= render 'layouts/header' %>
<%= render 'layouts/lines/markdown_cheatsheet' %>

<header>
  <% if params[:action] != "index" %>
  <div id="logo">
    <%=link_to_if(params[:controller] != "blogs", "К постам", root_path){ link_to( "К постам", articles_path ) }%>
  </div>
  <% end %>
  <div id="lines">
    <p>Блог о событиях. Заходите после <%= link_to("апрельской", service_path(2), style: "color: red;") %> поездки посмотреть как проходило мероприятие.</p>
  </div>
</header>