<% if current_lines_user %>
  <%= render_navbar do %>
    <%= link_to t('lines.buttons.new_article').html_safe, new_admin_article_path, class: "btn btn-new-article highlight" %>  
    <%= link_to t('lines.buttons.dashboard').html_safe, admin_articles_path, class: "btn btn-view-blog" %>
  <% end %>
  <div class="spacer"></div>
<% else %>
  <%= render 'layouts/header' %>
<% end %>

<%= render 'layouts/lines/markdown_cheatsheet' %>

<header>
  <% if params[:action] != "index" %>
  <div id="logo">
    <a href=<%= "#{root_path}"%>>
      <% if CONFIG[:logo].empty? %>
        <% CONFIG[:blog_name] %>
        К статьям
      <% else %>
        <img src="<%= CONFIG[:logo] %>" alt="<%= CONFIG[:blog_name] %>" />
      <% end %>
    </a>
  </div>
  <% end %>
  <div id="lines">
    <%= CONFIG[:short_description].html_safe %>
  </div>
</header>