<!doctype html>
<html class="no-js">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta charset="UTF-8" />
  <meta name="author" content="<%= CONFIG[:meta_author] %>" />
  <meta name="revisit-after" content="3 days" />
  <meta name="robots" content="index,follow" />
  <%= display_meta_tags site: CONFIG[:title_short] %>
  <meta name="geo.position" CONTENT="<%= CONFIG[:geo_position] %>">
  <meta name="geo.placename" CONTENT="<%= CONFIG[:geo_address] %>">
  <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1" />
  
  <%= yield :head %>
  <%= auto_discovery_link_tag(:atom, articles_url(format: "atom"), {title: CONFIG[:feed_title]}) %>
  <%= stylesheet_link_tag    "lines/application", media: "all" %>
  <%= javascript_include_tag "lines/application" %>
  <%= javascript_include_tag('application') %>
  <%= csrf_meta_tags %>
</head>
<body id="top">
<% if params[:controller] == "blogs" %>
  <%= render 'layouts/lines/blog_header' %>
<% else %>
  <%= render 'layouts/lines/pages_header' %>
<% end %>

<div class="container">
  <%= render 'lines/shared/flash' %>
  <%= yield %>
</div>
<%= render 'layouts/contacts' %>
<%= render 'lines/shared/footer' %>

</body>
</html>
