p#notice= notice
div class="test" 
	.each_event-close.icon-close
		dic.stripes

	.each_event-inner
		h2  = event.name
		= image_tag event.pic.image.url if event.pic
		p
		  
		  = event.description
		p
		  strong Начало 
		  = I18n.l( event.start, format: "%e %B в %k:%M",  locale: :ru)
		/ = link_to 'Edit', edit_event_path(event)
		/ | \
		/ = link_to 'Back', events_path
	.each_event-overlay