p#notice =notice

.each_event

h1 style="text-shadow: rgba(0,0,0,0.5) 1px 1px 2px;" Мероприятия

#event.clearfix
  - @events.each do |event|
    .col-xs-12.col-sm-6.col-md-4.item
      event.event
        figure
          img alt="" src="#{event.pic.image.url if event.pic.present?}"
          figcaption
            a.btn.small data-remote="true" href=event_path(event)  Подробнее 
        .excerpt
          time data-title="#{event.start.strftime("%B")}" datetime="#{event.start.strftime("db:‘%Y-%m-%d %H:%M:%S’")}" 
            strong = I18n.l( event.start, format: "%b",  locale: :ru).to_s.mb_chars.capitalize.to_s[0..-2]
            em = event.start.strftime("%e") 
          h6.heading 
            a data-remote="true" href=event_path(event) = event.name
          p = event.description

