$(".each_event").html("<%= escape_javascript(render partial: "event", locals: {event: @event}) %>");
$('body').addClass('no-scroll');
$('.each_event').fadeIn('fast');

$(".each_event-overlay, .each_event-close").click(function (e) {

  e.preventDefault();
  $('.each_event').fadeOut('fast');
  $('body').removeClass('no-scroll');
});