<p id="notice"><%= notice %></p>
<div class="each_event-show">
	<h2>
	  <%= @event.name %>
	</h2>
	<%= image_tag @event.pic.image.url if @event.pic %>
	<p>
	  <%= @event.description %>
	</p>

	<p>
	  Начало 
	  <%= I18n.l( @event.start, format: "%e %B в %k:%M",  locale: :ru) %>
	</p>

	<%= link_to 'Назад', root_path %>
</div>