/*
 * Place your custom CSS and overrides here.
 * Make sure to only use the override file for your custom CSS. The original CSS files may be overwritten 
 * with newer gem versions.
 * 
 */
html, body {
    font-family: "Merriweather", Georgia, serif;
    line-height: 140%;
    color: #100719;
    text-align: left;
}
p {
    line-height: 170%;
    font-size: 1.125rem;
    margin: 0 0 1rem 0;
  }
.container {
  padding-left: 0;
  padding-right: 0;
}

footer, #footer {
  margin-top: 0;
  background-color: #272421;
  .container {
    p {
      display: inline-block;
      a:hover { text-decoration: none;  }
    }
  }
}

#navbar {
  background-color: #272421; //$color-alpha;
  .submenu {
    background-color: #272421; //$color-alpha;
  }
}
// #articles {
//   img { border: 1px solid rgba(0, 0, 0, 0.62); }
// }
.article {
  font-family: "Merriweather", Georgia, serif;

  .article_header, .article_teaser, .article_content {
    & > * { padding: 0 8%; }
    & > blockquote { padding: 0 4%; }
  }
  .article_content {
    h4 {
      text-transform: none;  
    }
    
  }
  .article_facebook {
    text-align: center;
    font-family: $SourceSansPro;
    margin-top: $gutter-gamma;
    a {
      margin: 0 auto;
      display: inline-block;
      color: $black;
      line-height: 32px;
      font-size: 1.25rem;
      &:before {
        content: "";
        display: inline-block;
        margin-right: 10px;
        float: left;
        color: #fff;
        width: 40px;
        height: 32px;
        border-radius: 50%;
        background: image-url('facebook.svg') center center no-repeat; //$red 
        background-size: 80% auto;  
      }
      &:hover { color: lighten($grey, 10%); }
    }
  }
  .more-link a, .article_facebook a, .author_name a {
    text-decoration: underline;
    border-bottom: 0 none;
  }
  &.first .hero_image img {
    border: 1px solid rgba(75, 70, 65, 0.61);
  }
  &.small {
    font-size: inherit;
    // width: 50%;
  }
  &.small .hero_image {
    position: relative;
    width: 100%;
  }
  &.small .hero_image:before {
    display: block;
    padding-top: 56.25%;
    content: "";
  }
  &.small .hero_image>a>img {
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.btn-menu:hover {
  background-color: transparent;
}

@media screen and (max-width: 800px) {
  html, body { font-size: 16px; }
  .article {
    .article_header, .article_teaser, .article_content {
      & > * { padding: 0 4%; }
    }
    &.first .hero_image img {
      border: none;
    }
  }
}

@media screen and (max-width: 600px) {
  html, body { font-size: 14px; }
  // .article {
  //   .article_header, .article_teaser, .article_content {
  //     & > * { padding: 0 0%; }
  //   }
  //   &.first .hero_image img {
  //     border: none;
  //   }
  // }
}