.btn-menu {
    float: right;
    width: 56px;
    height: 56px;
    cursor: pointer;
    position: relative;

    .stripes {
      position: absolute;
      width: 18px;
      height: 2px;
      background-color: black;//#fff;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0) rotate(0deg);
      transition: all 0.3s ease;
    }
    .stripes:before, .stripes:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: black;//#fff;
      transition: all 0.3s ease;
    }
    .stripes::before {
      transform: translateY(-250%) rotate(0deg);
    }
    .stripes::after {
      transform: translateY(250%) rotate(0deg);
    }

}
.btn-menu:hover {
  .stripes {
    transform: translate3d(-50%, -50%, 0) rotate(90deg);
    background-color: transparent;
  }
  .stripes:before {
    transform: translateY(0%) rotate(45deg);
  }
  .stripes:after {
    transform: translateY(0%) rotate(-45deg);
  }

}
a.button {
  display: inline-block;
  width: 160px;
  height: 160px;
  line-height: 156px;
  text-align: center;
  font-size: 3em;
  font-weight: 700;
  font-family: "Abel", "Open Sans", Helvetica, Arial, sans-serif;
  text-transform: lowercase;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  perspective: 1000;
  text-decoration: none;
  margin-left: 150px;

  .flip {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
    // Rotation, makes flip an object with two surfaces
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;

    position: relative;
    color: black; //#fff;
    .flip-front, .flip-back {
      // Rotation, makes back surface hidden
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;

      position: absolute;
      left: 0;
      top: 0;
      width: 160px;
      height: 160px;
      border: 4px solid black; //#fff;
      border-radius: 50%;
      box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.1);
    }
    .flip-front {
      z-index: 2;
    }
    .flip-back {
      // Rotate, makes flip-back a back surface of 3d 2-surface flip
      -webkit-transform: rotateY(180deg);
      -moz-transform: rotateY(180deg);
      -ms-transform: rotateY(180deg);
      -o-transform: rotateY(180deg);
      transform: rotateY(180deg);

      z-index: 1;
      background: #e5192b;
      color: #fff;
      text-shadow: none;
      border: 4px solid #e5192b;
    }

    .flip-front span, .flip-back span {
      display: table-cell;
      width: 160px;
      height: 160px;
      vertical-align: middle;
      text-align: center;
      line-height: 1em;
    }
  }
  .flip:hover {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
}

