// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#event {
  // padding-left: 15px;
  // padding-right: 15px;
  font-family: Verdana, Geneva, sans-serif;
  font-size:14px;
  line-height:1.6em;
  * {
    @include addTransition(0.3);
  }

  figure {
    display: block;
    position: relative;
    margin: 0;
    margin-bottom: 20px;
    
    img {
      width: auto;
      max-width: 100%;
    }

    figcaption {
      position: absolute;
      bottom: 0;
      right: 0;
      opacity: 0;

      .btn {
        display: inline-block;
        border: 1px solid;
        padding: 8px 18px 10px;
        text-transform: none;
        border-radius: 0;
        color: #FFFFFF;
        background-color: #FF8F2B;
        border-color: #FF8F2B;
        
        @include addTransition(0.4);
      }
      .btn:hover {
        color: #FF8F2B;
        background-color: #FFFFFF;
        border-color: #FF8F2B #FFFFFF #FFFFFF #FF8F2B;
        
      }
    }
  }

  .excerpt {
    display: block;
    position: relative;
    min-height: 80px;
    margin: 0;
    padding: 0 0 0 80px;
    text-align: left;

    h6 {
      margin-bottom: 10px;
      font-size: 1.5rem;
      line-height:1.6em;
    }
    a {
      color: inherit;
      text-decoration: none;
    }
    p{
      margin-bottom: 0; 
    }
    time {
      color: #EAEAEA;
      background-color: #272421;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 60px;
      height: 60px;
      text-align: center;
      text-transform: uppercase;
      font-weight: 700;

      strong {
        display: block;
        width: 100%;
        height: 20px;
        line-height: 20px;
        font-size: .85em;
        color: #FFFFFF;
        background-color: #FF7659;
      }

      em {
        display: block;
        width: 100%;
        height: 40px;
        line-height: 40px;
        font-size: 1.2em;
        font-style: normal;
      }

    }
  }
  .event:hover {
    .excerpt a {
      color: #FF8F2B;
    }
    figcaption {
      opacity: 1;
    }
  }
}
.clearfix {
   zoom:1; /* For IE 6/7 (trigger hasLayout) */
   &:before, &:after { content: ""; display: table; }
}
.event {
  display: block;
  position: relative;
  margin-bottom: 30px;
  border: 1px solid;
  border-color: #D7D7D7;
  width: 100%;
  padding: 15px;
  // margin-left: 3.06748466257669%;
  // height: 450px;
  // background-size: cover;
  // overflow: hidden;
}
.each_event-show {

  width: 100%;
  height: 100%;
  
  background-color: #fff;
  
  padding: 2em;
  font-size: 1.063em;
  h2 {
    margin-top: 0;
    // font-family: "Merriweather Sans", sans-serif;
    font-size: 2.063em; //$size-beta;
    color: rgb(75, 70, 65);//#9793a0;
    // text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    margin-bottom: 22px;
  }
  p {
    margin-bottom: 22px;//$gutter-beta;
  }
  img {
    margin-bottom: 22px;
  }
  a {
    cursor: pointer;
    text-decoration: none;
    border-bottom: 1px solid #100719;//$color-gamma;
    color: #100719;//$color-alpha;
    &:hover {
      border-bottom-color: #c10020;//$color-beta;
      color: #c10020;//$color-beta;
    }
  }
  .formatting {
    color: rgba(#000, 0.3);
  }
}

.each_event {
  position: fixed;
  display: none;
  max-width: calc(960px - 4em);
  width: calc(100% - 4em);
  z-index: 1050;
  margin: 0 auto;
  top: calc(56px + 2em);
  left: 0;
  right: 0;
  bottom: 2em;
  overflow: visible;
  font-family: "Fira Mono", monospace;
  .each_event-close {
    position: absolute;
    z-index: 2;
    width: 48px;
    height: 48px;
    text-align: center;
    line-height: 48px;
    border-radius: 3px;
    background-color: red;
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
    right: -24px;
    top: -24px;
    transition: all 0.3s ease;
    &:hover {
      background-color: lighten(red, 10%);
    }
    .stripes {
      position: absolute;
      width: 24px;
      height: 2px;
      background-color: transparent;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0) rotate(0deg);
      // transition: all 0.3s ease;
    }
    .stripes:before, .stripes:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0%;
      background-color: #fff;//#fff;
      // transition: all 0.3s ease;
    }
    .stripes::before {
      transform: translateY(0%) rotate(45deg);
    }
    .stripes::after {
      transform: translateY(0%) rotate(-45deg);
    }
  }
  .icon-close:before {

    content: "";
  }
  .each_event-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    background-color: #fff;
    z-index: 1;
    padding: 2em;
    font-size: 1.063em;
    h2 {
      margin-top: 0;
      // font-family: "Merriweather Sans", sans-serif;
      font-size: 1.063em; //$size-beta;
      color: #9793a0;
      text-transform: uppercase;
      letter-spacing: 3px;
      font-weight: 800;
      margin-bottom: 22px;
    }
    p {
      margin-bottom: 22px;//$gutter-beta;
    }
    img {
      margin-bottom: 22px;
    }
    a {
      border-bottom: 1px solid #c10020;//$color-gamma;
      color: #100719;//$color-alpha;
      &:hover {
        border-bottom-color: #c10020;//$color-beta;
        color: #c10020;//$color-beta;
      }
    }
    .formatting {
      color: rgba(#000, 0.3);
    }
  }
  .each_event-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#100719, 0.8);//($color-alpha, 0.8);
    z-index: 0;
  }
}