$hd-white: rgba(255, 255, 255, 1);

$hd-background: rgba(75, 70, 65, 1);

$hd-active-menu-item-color: rgba(255, 143, 43, 1);
$hd-menu-item-color: $hd-white;
$hd-menu-items-text-shadow: rgba(0, 0, 0, .9) -2px 2px 4px;

$hd-brand-color: $hd-white;
$hd-logo-text: $hd-white;
$hd-logo-text-shadow: rgba(0, 0, 0, .9) -2px 2px 4px;

$hd-stripes-color: #888;

@media (max-width: 767px) {
  .navbar-nav {
    float: left;
    margin: 7.5px 0;
  }

  ul {
    &.navbar-nav {
      float: right;
      padding-right: 8%;
      text-align: right;
    }
  }

  .navbar-toggle {
    margin-top: 34px;
  }

  .navbar-brand {
    padding: 0;

    h1 {
      //here add your style depending of the position you want the text to be placed
    }
  }

  .container > .navbar-header {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (min-width: 768px) {
  .navbar-text {
    float: none;
    margin-left: 0;
    margin-right: 0;
  }

  .navbar > .container {
    .navbar-brand {
      margin-left: 0;
    }
  }
}

.custom-bootstrap-menu {
  navbar {
    a {
      //line-height:80px;
    }
  }
}

.custom-bootstrap-menu.navbar-default,
#footer {
  .container {
    font-family:  'Georgia', 'Merriweather', serif;
    font-size: 14px;
    line-height: 1.6em;
    margin: 0 auto;
    max-width: 978px;
    padding: 0 20px;
    width: 100%;

    h1 {
      font-family: Georgia, 'Times New Roman', Times, serif;
      text-shadow: $hd-logo-text-shadow;
    }
  }
}

.custom-bootstrap-menu.navbar-default {
  //font-size: 14px;
  // -webkit-box-shadow: none;
  background-color: $hd-background;
  border: 0;
  box-shadow: none;
  //border-bottom-width: 0px;

  .navbar-brand {
    // margin-left: 0px;
    color: $hd-brand-color;
    padding: 0;

    a {
      // color: rgba(255, 255, 255, 1);
      // text-align: center;
      margin-left: 0;
      text-decoration: none;
    }
  }

  .navbar-header {
    .navbar-toggle {
      .btn-menu {
        height: 22px;
        position: relative;
        width: 22px;
      }

      .stripes {
        background-color: $hd-stripes-color;//#fff;
        height: 2px;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate3d(-50%, -50%, 0) rotate(0deg);
        transition: transform .3s ease;
        width: 22px;

        &::before,
        &::after {
          background-color: $hd-stripes-color;//#fff;
          content: '';
          height: 100%;
          left: 0%;
          position: absolute;
          transition: transform .3s ease;
          width: 100%;
        }

        &::before {
          transform: translateY(-300%) rotate(0deg);
        }

        &::after {
          transform: translateY(300%) rotate(0deg);
        }
      }

      &.active {
        .stripes {
          background-color: transparent;
          transform: translate3d(-50%, -50%, 0) rotate(90deg);

          &::before {
            transform: translateY(0%) rotate(45deg);
          }

          &::after {
            transform: translateY(0%) rotate(-45deg);
          }
        }
      }

      &:focus {
        background-color: inherit;
      }
    }
  }

  .navbar-right {
    padding-top: 20px;
    text-shadow: $hd-menu-items-text-shadow;
  }

  #logo p {
    clear: left;
    color: $hd-logo-text;
    //text-align: center;
    text-transform: lowercase;
  }

  .navbar-nav>li>a {
    // background-color: rgba(248, 248, 248, 0);
    color: $hd-menu-item-color;
    text-transform: uppercase;

    & li {
      vertical-align: bottom;
    }
  }

  & .navbar-nav>li>a {
    &.active,
    &:hover,
    &:focus {
      background-color: $hd-background;
      color: $hd-active-menu-item-color;
    }
  }
}
