* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family:  'Georgia', 'Merriweather', serif;
  height: 100%;
  line-height: 1.6em;
  // max-width: 978px;

  &.no-scroll {
    overflow-y: hidden;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: Georgia, "Times New Roman", Times, serif;
}

#banner {
  $image: image-url("01.png");
  margin-top: -20px;
  margin-bottom: 20px;
  background-image: $image;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: rgba(0,0,0,1);
  width: 100%;
  height: 0;
  padding-top: 33.13%;
  position:relative;

  .text {
    position: absolute; 
    top: 20%; 
    bottom: 0; 
    left: 0; 
    right: 0;
    color: rgba(255, 255, 255, 1);
    text-shadow: rgba(0,0,0,0.5) 0px 1px 8px;
    width: 100%;
    max-width: 978px;
    margin: 0 auto;
    padding: 0 9px 0 20px;
    margin-top: -20px;
    // transform: translateY(17%);

    h2 {
      font-size: calc(2vw + 0vh + 2vmin);
      margin-bottom: 7%;
      width: 50%;

      @media (max-width: 820px) {
        width: 100%;
        // text-align: center;
      }
    }
    p {
      font-size: calc(1vw + 0vh + 1.2vmin);
      line-height: 1.3em;

      @media (max-width: 820px) {
        font-size: calc(1vw + 0vh + 1.8vmin);
      }
    }
  }

}

#container {
  max-width: 978px;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 50px;
}

#main {
  h1 {
    margin-bottom: 40px;
  }
}

.overlay-b {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  // opacity: 1;
  z-index: 20;
  overflow: hidden;
}

#contacts {
  background-image: image-url("imgpsh_fullsize.jpg");
  background-size: cover;
  background-position-y: 15%;
  background-repeat: no-repeat;
  background-color: #4b4641;
  // padding-bottom: 12em;
  color: #EAEAEA;
  position: relative;
  width: 100%;
  font-size: 14px;

  @media (min-width: 992px) {
    .col-md-6 {
      width: 50%;
      margin-left: 0%;
    }
  }

  div {
    overflow: visible;
  }
  h6 {
    font-size: 1.2em;
    line-height: normal;
    font-weight: normal;
  }
  a {
    color: #EAEAEA;
    text-decoration: none;
  }

  #social {
    padding: 0;
    margin-top: 34px;
    @media (min-width: 768px) and (max-width: 992px) {
      
        margin-left: 25.85%;
      
    }
    @media (max-width: 768px) {
      
        margin-top: 10px;
      
    }
  }
  .overlay-b {
    background: rgba(60,55,51,.8);
    position: relative;
  }

  .contact {
    padding: 10px 5px;
    max-width: 978px;

    li i {
      display: block;
      position: absolute;
      top: 3px;
      left: 0;
      width: 30px;
      font-size: 16px;
      text-align: center;
    }
  }

  .linklist li {
    display: block;
    margin-bottom: 15px;
    padding: 0 0 15px 0;
    border-bottom: 1px solid;
    border-color: #55493e;
    clear: both;
    position: relative;
    padding-left: 40px;
  }
  .linklist li:last-child {
    border: none;
  }
}

.nospace {
    margin: 0;
    margin-top: 10px;
    padding: 0;
    list-style: none;
}

// html, #container { height: 100%; }
// body > #container { height: auto; min-height: 100%;}
.footer {
  color: #EAEAEA;
  background-color: #272421;
  clear: both;
  position: relative;
  z-index: 10;
  height: 6em;
  // margin-top: -3em;
  p{
    left: 13%;
    padding: 25px 0;
    position: absolute;
  }
  p>a{
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
  }
}
#backtotop {
  color: #FFFFFF;
  background-color: #FF8F2B;
  z-index: 999;
  display: inline-block;
  position: fixed;
  visibility: hidden;
  bottom: 20px;
  right: 20px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  font-size: 16px;
  text-align: center;
  opacity: .2;
  a {
    outline: none;
    text-decoration: none;
  }
  &.visible {
    visibility: visible;
    opacity: .5;
  }
}

@mixin addTransition($x) {
  transition: all $x+s ease;
  -o-transition: all $x+s ease;
  -ms-transition: all $x+s ease;
  -moz-transition: all $x+s ease;
  -webkit-transition: all $x+s ease;
}
