.effects {
  // padding-left: 15px;

  .box {
    position: relative;
    margin-bottom: 30px;
    height: 400px;
    background-size: 100% 400px; //contain;
    background-repeat: no-repeat;
    overflow: hidden;
  }

  /* ============================================================
    EFFECT 1 - SLIDE IN BOTTOM
  ============================================================ */
  .box.hover .overlay {
    bottom: 0;
    opacity: 1;
  }

  .desc {
    position: absolute;
    // top: 15%;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 30px;
  }

  .overlay {
    display: block;
    position: absolute;
    z-index: 20;
    overflow: hidden;

    bottom: -400px;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: all 0.6s;
    //width: 100%;
    //height: 0;
    .overlay-close {
      position: absolute;
      z-index: 2;
      width: 36px;
      height: 36px;
      text-align: center;
      line-height: 36px;
      border-radius: 3px;
      background-color: red;
      color: #fff;
      font-size: 2rem;
      cursor: pointer;
      right: 5px;
      top: -5px;
      transition: all 0.3s ease;
      &:hover {
        background-color: lighten(red, 10%);
      }
      .stripes {
        position: absolute;
        width: 24px;
        height: 2px;
        background-color: transparent;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0) rotate(0deg);
        // transition: all 0.3s ease;
      }
      .stripes:before, .stripes:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0%;
        background-color: #fff;//#fff;
        // transition: all 0.3s ease;
      }
      .stripes::before {
        transform: translateY(0%) rotate(45deg);
      }
      .stripes::after {
        transform: translateY(0%) rotate(-45deg);
      }
    }
    .overlay-close.hidden {
      display: none;
    } 
    // Replaced the button
    // a.close-overlay {
    //   display: block;
    //   position: absolute;
    //   top: 0;
    //   right: 0;
    //   z-index: 100;
    //   width: 45px;
    //   height: 45px;
    //   font-size: 20px;
    //   font-weight: 700;
    //   color: #fff;
    //   line-height: 45px;
    //   text-align: center;
    //   background-color: #000;
    //   cursor: pointer;
    //   text-decoration: none;
    //   border-radius: 24px;
    //   border-bottom-style: outset;
    // }
    // a.close-overlay.hidden {
    //   display: none;
    // }
  
    h3 {
      color: #fff;
      margin-bottom: 10px;
      font-size: 20px;
      text-transform: uppercase;
      letter-spacing: 3px;
    }
    a:hover, a:focus {
      color: #fff;
    }
    p {
      color: rgba(255, 255, 255, 0.9);
      max-height: 244px;
      overflow: hidden;
      margin: 0;
    }
    span {
      color: #fff;
      display: block;
      margin-top: 35px;
    }
  }

}
// #effect .box:nth-child(n) {
//   margin-right: 5px;
// }
// #effect .box:first-child {
//   margin-left: -15px;
// }
// #effect .box::last-of-type {
//   margin-right: 0;
// }
// http://callmenick.com/post/image-overlay-hover-effects-with-css3-transitions



// #effect .box:hover .overlay {
//   bottom: 0;
//   opacity: 1;
// }

.text {
     
    color: #100719; //rgba(255, 255, 255, 1);
    text-shadow: rgba(255,255,255,0.5) 0px 1px 8px;
    width: 100%;
    max-width: 978px;
    margin: 0 auto;
    padding: 0 9px 0 20px;
    
    // transform: translateY(17%);
    h1 {
      font-size: calc(30px + (6)*(100vw - 395px)/(885));
      text-shadow: rgba(0,0,0,0.7) 1px 1px 1px;
      // margin-bottom: 7%;
    }
    h3 {
      font-size: calc(16px + (8)*(100vw - 395px)/(885));
      color: rgb(255, 131, 20);
      text-shadow: rgba(115, 56, 3, 0.1) 1px 1px 2px;
      // margin-bottom: 7%;
    }
    p.desc {
      font-size: calc(16px + (7)*(100vw - 395px)/(885));
      line-height: 1.3em;
    }
    p {
      // font-size: calc(1vw + 0vh + 1.2vmin);
      //calc(14px+(21px-14px)*(100vw-400px)/(1280-400));
      //calc(minSize+(maxSize-minSize)*(100vw-minScreen)/(maxScreen-minScreen));
      font-size: calc(14px + (7)*(100vw - 395px)/(885));
      line-height: 1.3em;
    }
    li { font-size: calc(14px + (7)*(100vw - 395px)/(885));}
  }