<footer id="footer">
  <div class="container">
    <p>Copyright © 2016 
  		<a href="<%= main_app.root_path %>"> Health Camp</a>
  	</p>
  	<p>
  		<a href="<%= lines.admin_root_path %>">Authors Only</a>
  	</p>
  	
  </div>
</footer>
