a.button href="/blog" 
  .flip
    .flip-front
      span
        span.translation_missing title=("Button")  Free Trial
    .flip-back
      span
        span.translation_missing title=("Button-back")  Free Trial

div.btn-menu
	dic.stripes
