
#contacts
	.overlay-b
		.container.contact
			.col-xs-6.col-sm-6.col-md-3
				h6 Контакты
			.col-xs-offset-1.col-sm-offset-3.col-md-6.col-md-offset-0
				ul.nospace.linklist
		        	li
		        		i.fa.fa-phone
		        		a href="tel:+380-66-413-0231" +38 (066) 413 0231
		          
		        	li
		        		i.fa.fa-envelope-o 
		        		a href="mailto:info@healthcamp.com.ua" info@healthcamp.com.ua
		    .col-xs-12.col-sm-12.col-md-3
		    	h6 Социальные сети
				ul#social.linklist.col-xs-offset-1.col-sm-offset-3.col-md-offset-1
					li
						i.fa.fa-facebook-official aria-hidden="true"
		    			a href="https://www.facebook.com/kiev.healthcamp" www.facebook.com/kiev.healthcamp
	