nav#custom-bootstrap-menu.custom-bootstrap-menu.navbar.navbar-default.navbar-static-top role="navigation" 
  .container  
    .navbar-header
      #logo.nav.navbar-nav 
        a.navbar-brand href="#{main_app.root_path}" 
          h1 HealthCamp
        p.navbar-text Красота силы и здоровья
      button.navbar-toggle.collapsed data-target=".navbar-collapse" data-toggle="collapse" type="button" 
        span.sr-only Toggle navigation
        div.btn-menu
            dic.stripes
        / span.icon-bar
        / span.icon-bar
        / span.icon-bar
    .navbar-collapse.collapse
      ul.nav.navbar-nav.navbar-right
        li.nav-item: a href=main_app.project_path о проекте
        li.nav-item: a href=main_app.services_path услуги
        li.nav-item: a href=lines.root_path статьи
        li.nav-item = link_to('контакты', root_path(:anchor => 'contacts'), id: "show-contancts") 
        / li
        /   - if current_user
        /     | Logged in as #{current_user.email || current_user.name}.
        /     | \#{link_to "Log out", logout_path, method: :delete}
        /   - else
        /     /- #link_to "Sign up", sign_up_path
        /     = link_to "log in", login_path
        / li: a= DateTime.current().to_formatted_s(:long_ordinal)
/ .nav-collapse
a#backtotop href="#top"
      i.fa.fa-chevron-up