#description
	.text
		div
			h1 Спортлагерь в Карпатах
			h3 Что мы будем делать?
			p Каждый день есть возможность потренироваться и попробовать что-то новое. Это пробежки, функциональные тренировки, растяжка, миофасциальное расслабление, TRX, даже скакалка. Семинары по вопросам диетологии, спортивного питания, физиологии и прочего наболевшего. 
			p Есть возможность поучаствовать в мастер-классах по приготовлению интересной еды, сходить на экскурсию, окунуться в кошкотерапию :) 
			p На тренировках вы сможете узнать что вам можно делать, а с чем стоит повременить, как работает ваше тело, расширить  его возможности. 
			h3 Где?
			p Выездной лагерь планируется в Карпатах, в очень красивом месте среди гор. Магазинов нет :) Расселение в комфортных номера по два человека. Душ, фен, электрочайник, замена полотенец, парковка, услуги прачечной, бесплатный wi-fi. 
			h3 Питание
			p Поскольку это, в первую очередь, отдых от привычного образа жизни, готовить не придется. Однако, два цербера все равно будут смотреть в вашу тарелку. Есть как традиционная кухня, так и кухня для вегетарианцев и веганов. 
			h3 Трансфер 
			p До станции вы добираетесь удобным вас способом: поезд, машина, бла-бла-кар. От станции до конечной точки мы обеспечиваем трансфер за наш счет.