doctype html
html
  head
    meta http-equiv="Content-Type" content="text/html; charset=utf-8"
    meta charset="UTF-8"
    = display_meta_tags site: 'HealthCamp'
    
    / meta name="description" content="HealthCamp - Kyiv"
    meta name="keywords" content="healthcamp, тренировка, питание, спортивное питание, здоровье, хобби, лагерь, карпаты, активный отдых"
    / meta property="og:title" content="HealthCamp - сайт"
    / meta property="og:url" content="http://healthcamp.com.ua"
    / meta property="og:site_name" content="HealthCamp - сайт"
    meta name="geo.position" content="50.4501; 30.5234"
    meta name="geo.placename" content="Obolon, 04210 Kyiv"
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1" />
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = csrf_meta_tags 
    
  body class="#{controller.controller_name}"
    
    = render "layouts/header"
    / = render "layouts/project" if params[:action] == "project"
    = render "layouts/banner" if (["events"].include? params[:controller]) && params[:action] == "index"
    / = render "layouts/button"
    - if notice 
      p.notice = notice
    - if  alert
      p.alert = alert
    #container.container
      #columns.text-center
        #main
          = yield
      /! row
    /! container
    = render "layouts/contacts"
    = render "layouts/footer"